<%-include ('partials/header.ejs');%>
<%-include ('partials/main_nav.ejs');%>
  

<div class>
  <style>
      Body{
          background-image: url('./Assets/Images/BPabout.jpeg');
          background-repeat: no-repeat;
          background-size: cover;
          background-attachment: fixed; 
      }
  </style>  
      <h2>Gayathri Srikanti </h2>
      <img id="mypic" src="./Assets/Images/mypic.jpeg" alt="mypic">
  </div>
  <div class="">
      <div class="About">
          I am a creative designer and developer, who aims to work with small businesses and marginalized communities to bring their passions to life. I offer both design and development services of web applications or websites!
          <h4>Click here  for Resume</h4>
          <a href='./Assets/Images/Resume.pdf' target="_blank"> Click here</a> 
        </div>      
  </div>
